<%-include('header')%>
<h1>COMPOSE</h1>
<form action="" method="post">
    <div class="form-group">
        <h3>Title</h3>
        <input type="text" value="" name="posttitle" class="form-control">
        <h3>Message</h3>
       <textarea  id="" cols="30" rows="3" class="form-control" name="postbody"></textarea>
    </div>
<button type="submit" class="btn btn-primary">PUBLISH</button>
</form>
<%-include('footer')%>